#logosCalidad {
    width: 100%
}

.calidad figure{
    width: 80%
}

.calidad figure img{
    width: 30%
}

.calidad .box {
    padding: 1rem 2rem;
}

.calidad .box h2{
    margin: 0
}

.calidad .desktop {
    display: none
}

.calidad .calidadBox {
    width: 70%;
    border: solid .1rem #131E29;
    padding: 1rem;
}

@media screen and (min-width: 1200px) {

    .calidad .mobile {
        display: none
    }

    .calidad .desktop {
        display: flex
    }

    .calidad figure{
        width: 20%
    }

    .calidad figure img{
        width: 50%
    }
    
    .calidad figure img#fsc{
        width: 30%
    }

    .calidad .calidadBox {
        width: 50%;
        border: solid .2rem #131E29;
        line-height: 1.5rem;
    }
    
} 