@import './Flexbox.css';

header #logo img{
    width: 60%
}

header #desktop {
    display: none
}

#mobile {
    width: 90%;
}

.hamburger {
    z-index: 100;
    padding: 4px;
    border: #E4002B solid 1px;
    background: snow;
    cursor: pointer;
    width: 20%;
}

.open {
    color: #E4002B;
    font-size: 1rem;
}

.close {
    color: #E4002B;
    font-size: 1rem;
}

.logo {
    margin-top:1rem;
    width: 80%
}

@media screen and (min-width: 1200px) {
    #mobile {
        display: none
    } 

    header #desktop {
        display: flex;
        margin-top: 1.5rem;
    } 

    header #logo img{
        width: 100%
    }
    
    .logo {
        margin-top: 0;
        width: 80%
    }
}