#banner {
  width: 100%;
  position: relative;
}

#banner .imgHome {
  width: 100%;
  margin: 0;
  padding: 0;
}

#banner .imgHome img {
  width: 100%;
  margin-top: 1rem;
}

#banner .bannerText {
  display: none
}

#banner .bannerText img{
  width: 100px;
}

.home .contacto {
  background-color: #E4002B;
  padding: 2rem;
  text-align: center;
  width: 100%
}

.home .contacto a{
  color: snow;
  text-decoration: none;
  font-size: 2rem;

}

@media screen and (min-width: 1200px) {
  #banner .bannerText {
    display: flex;
    position: absolute;
    bottom: 1rem;
    right: 0;
    background-color: snow;
    width: 100%;
    font-size: 1.5rem;
  }
  
  #banner .bannerText img{
    width: 5.5rem;
  }

  .home .contacto {
    padding: 3rem;
  }

  
.home .contacto a:hover{
  transform: scale(1.3);
  transition: all 0.5s ease-in-out;
} 
  
}
