
#banner {
  width: 100%;
  position: relative;
}

#banner .imgHome {
  width: 100%;
  margin: 0;
  padding: 0;
}

#banner .imgHome img {
  width: 100%;
  margin-top: 1rem;
}

#banner .bannerText {
  display: flex;
  position: absolute;
  bottom: 3rem;
  left: 1rem;
  background-color: snow;
  color: #E4002B;
  width: 90%;
/*   border-radius: 0 2rem 2rem 0; */
}

#banner .bannerText a{
  font-size: 1rem;
  margin-left: 1rem;
  text-transform: uppercase;
  width: 90%;
  text-align: left;
  line-height: 2rem;
  padding: .2rem;
  font-family: 'Josefin Slab', serif;
  text-decoration: none;
  color: #E4002B
}

#banner .bannerText article{
  width: 100%;
}

#banner .bannerText article img{
  width: 10%;
  margin: 0 1rem 0 1rem
}

@media screen and (min-width: 1200px) {

  #banner .bannerText {
    bottom: 60%;
    width: 80%;
    padding-bottom:2rem;
    padding-right: 2rem;
    transform: scale(1);
    background-color: snow;
    transition: all 0.5s ease-in-out;
    left: 3rem;
    cursor: pointer;
  }

  #banner .bannerText:hover {
    background-color: #E4002B;
    transform: scale(1.02);
    transition: all 0.5s ease-in-out;
  }

  #banner .bannerText:hover a{
    color: snow;
    transition: all 0.5s ease-in-out;
  }

  #banner .bannerText a{
    font-size: 2.5rem;
    margin-left: 1rem;
    width: 100%;
    line-height: 4.5rem;
    padding: 1.5rem 0 0 1.5rem ;
    font-weight: bold;
  }

  #banner .bannerText article{
    width: 100%;
  }
  
  #banner .bannerText article img{
    width: 10%;
    margin: 0 1rem 0 1rem
  }

  #banner .imgHome img {
    margin-top: 0;
  }
}
