.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: #E4002B;
    color: #131E29;
    padding-top: 5em;
    width: 100%;
}

.notShowMenu {
    display: none;
}

.menuItem {
    text-decoration: none;
    color: snow;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 1.5rem 0;
}

.showMenu {
    transform: translateY(0);
  }


  @media screen and (min-width: 1200px) {
    .menu {
        position: relative;
        z-index: 99;
        background: snow;
        color: #131E29;
        padding-top: 0;
        width: auto;
    }

    .menuItem {
        color: #131E29;
        padding: .5rem;
        transition: all .4s ease-in-out;
        cursor: pointer;
        width: auto;
        transition: all 0.5s ease-in-out;
        font-weight: bold; 
        font-size: .9rem;
    }

    .menuItem:hover {
        color: #E4002B;
        padding: .5rem;
        border-radius: .5rem;
    }
}